.debugging {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    border-bottom-left-radius: 0.5em;
    background-color: $debug-base;
    background-color: transparentize($debug-base, 0.15);
    text-shadow: 0 -1px 0 darken($debug-base, 25%);
    color: white;
    animation: debug-in 0.75s $easeOutCubic;
    padding: 0 1em;
    line-height: 3em;
    font-size: $debug-size;
    font-family: font-family-of($monospace);
    -webkit-font-smoothing: subpixel-antialiased;
    opacity: 1;
    @include max-width(1 2) {
        .button {
            display: none;
            text-align: right;
        }
    }
    > .button.button-menu {
        display: none;
        &:after {
            content: "Options";
        }
        @include max-width(1 2) {
         display: block;
        }
    }
}

.no-debug-grid {
    background: none;
}

.no-debug-breakpoints {
    .page {
        background-color: transparent;
    }

    body {
        &:before,
        &:after {
            content: none;
            display: none;
        }
    }
}

.no-debug-type {
    h1,h2,h3,h4,h5,h6,p,li,blockquote p,cite {
        &:before,
        &:after {
            content: none;
            display: none !important;
        }
    }
}

.menu-open {
    .debugging{
        > .button {
                @include max-width(1 2) {
                   display: block;
                   text-decoration: underline;
                   background-image: none;
               }
           }
       >.button-menu {
             @include max-width(1 2) {
               background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,transparentize(white, 0.5) 50%);
               background-position: 0 calc(50% + 16px);
            }
       }
    }
}
